__pycache__
.idea
build
data
logs
dist
venv
wilds.egg-info
.DS_Store
data/
logs/
**/logs/
wandb/
**/wandb/
__pycache__/
**/__pycache__/
*.pt
*.pth
*.ckpt
*.bin
*.pkl
*.npz
*.npy
*.csv
*.tsv
*.zip
*.tar
*.tar.gz
*.jsonl
